<% include ./partials/header %> 

<h1>Login!</h1>
<form  class="ui form" action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input class="ui violet big basic button" type="submit" value="Login">
</form>

<% include ./partials/footer %> 
